.weather_city {
    position: absolute;
    top:80vh;
    right:1em;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(6, 7, 7, 0.7);
    color:white;
    text-align: center;
}